body
{

}

.BodyBackgroundFill
{
    background-image: url(../img/OriginalMetropolitan.png);
}

#BackgroundButton
{
    width: 150px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

#BackgroundDiv
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#SideBar
{
    height: 100%;
    width: 3em;
}

#TitleBar
{
    width: 500px;
    height: 63px;
    padding: 3px;
    padding-top: 0px;
}

.leftColumn
{
    float: left;
}

.rightColumn
{
    float: right;
}

#The5000YearsText
{

}

#MetropolitanText
{
    font-size: 20px;
}

#MuseumOfArtText
{

}

#Content
{
    margin-left: 150px;
}

